/*
About
*/

.about{
    max-width: 60%;
    margin: auto;
}

@media (min-width:780px){

    .about{
        max-width: 40%;
    }
    
}
.about-line{
    margin-block: 2rem;
}
.about-img{
    max-width: 6rem;
}
.description{
    margin-block: 2rem;
}
