@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Special+Elite&display=swap');

.space-font{
  font-family: 'Montserrat Alternates', sans-serif;
  /*
  font-family: 'Monoton', cursive;
*/
}

.logo-1{
  height: 5rem;
  width: 6rem;
}

.square{
  border-radius: 0;
}

.padmore{
  padding-top: 2rem;
}

.featured-swing{
    margin-bottom: 0.6rem;
}
.tag-swing{
    margin-top: 1rem;
}

@media (max-width:550px){
  .tag-search-container{
      margin-top: 5%;
      width: 100%;
    
  }
  }

@media (max-width:770px) and (min-width:550px){
.tag-search-container{
    margin-top: 5%;
    width: 75%;
  
}
}

.tag-search-container{
  min-width: 40%;
  padding-inline: 5%;
}


.tag-form{
    width: 65%;
    margin: auto;
}

.updated-btn{
    margin: 0.6rem;
}

.see-listings{
    margin-top: 1rem;
}
.added-tag{
  
}



/*
Listings
 ---- grid ---- */

 .tag-light{
   background-color: rgb(231, 230, 230);
 }

    .listings{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 5%;
        margin-inline: 2rem;
    }

 .listing{
    margin-right: 0.3rem;
    max-width: 20rem;
}

.listing-logo{
 height: 2rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.see-listing-btn{
  max-height: 2rem;
}

/*
Modal
*/
.add-tags-form{
  width: 50%;
  margin: auto;
}
.submit-modal{
  color: white;
  margin-top: 0.5rem;
}

.modal-title img{
  max-height: 3rem;
}

.bg-success{
  margin-top: 2rem;
}